@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
  scrollbar-gutter: stable overlay;
}

.bg-radial-tech {
  background-image: radial-gradient(
    at center,
    rgb(255, 255, 255) 0%,
    rgb(240, 237, 237) 100%
  );
  background-color: #ffffff;
}

.swiper-container {
  overflow: visible !important;
}

.swiper-wrapper-container {
  overflow: hidden;
}

.custom-range-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0c55f5;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  margin-top: -7px;
}

.custom-range-thumb::-webkit-slider-thumb:hover {
  background-color: #1d4ed8;
}

.custom-range-thumb::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: #2563eb;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  margin-top: -7px;
}

.custom-range-thumb:hover::-moz-range-thumb {
  background-color: #1d4ed8;
}

.custom-range-thumb::-webkit-slider-runnable-track {
  background-color: #e5e7eb;
  height: 2px;
  border-radius: 1px;
}

.custom-range-thumb::-moz-range-track {
  background-color: #e5e7eb;
  height: 2px;
  border-radius: 1px;
}

/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Phần rãnh (track) của thanh cuộn */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Con trượt (thumb) - phần có thể kéo */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Con trượt khi hover vào */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* CHECKOUT */
.checkout-step + .checkout-step {
  
}